<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">
    <property name="charset" value="UTF-8"/>
    <property name="severity" value="error"/>
    <property name="fileExtensions" value="java, properties, xml"/>

    <module name="FileTabCharacter">
        <property name="eachLine" value="true"/>
    </module>

    <module name="NewlineAtEndOfFile">
        <property name="lineSeparator" value="lf_cr_crlf"/>
    </module>

    <module name="LineLength">
        <property name="max" value="140"/>
        <property name="ignorePattern"
                  value="^package.*|^import.*|a href|href|http://|https://|ftp://"/>
    </module>

    <module name="TreeWalker">

        <module name="UnusedImports"/>
        <module name="RedundantImport"/>
        <module name="AvoidStarImport">
            <property name="excludes" value="jakarta.persistence,lombok"/>
        </module>
        <module name="ImportOrder">
            <property name="option" value="top"/>
            <property name="separatedStaticGroups" value="true"/>
            <property name="sortStaticImportsAlphabetically" value="true"/>
        </module>

        <module name="ConstantName"/>
        <module name="LocalVariableName"/>
        <module name="MethodName"/>
        <module name="PackageName">
            <property name="format" value="^[a-z]+(\.[a-z][a-z0-9]*)*$"/>
        </module>
        <module name="ParameterName"/>
        <module name="TypeName"/>
        <module name="MemberName"/>
        <module name="StaticVariableName"/>

        <module name="LeftCurly"/>
        <module name="RightCurly"/>
        <module name="NeedBraces"/>
        <module name="WhitespaceAfter"/>
        <module name="MethodParamPad"/>
        <module name="NoWhitespaceBefore"/>
        <module name="OperatorWrap"/>

        <module name="EmptyStatement"/>
        <module name="EqualsHashCode"/>
        <module name="SimplifyBooleanExpression"/>
        <module name="SimplifyBooleanReturn"/>
        <module name="UpperEll"/>
        <module name="Regexp">
            <property name="format" value="System\.(out|err)\.print"/>
            <property name="illegalPattern" value="true"/>
            <property name="message"
                      value="Interdit : utiliser SLF4J (log.info/warn/error) à la place de System.out/err"/>
        </module>
        <module name="Regexp">
            <property name="format" value="\.printStackTrace\(\)"/>
            <property name="illegalPattern" value="true"/>
            <property name="message"
                      value="Interdit : utiliser log.error(message, exception) à la place de printStackTrace()"/>
        </module>
        <module name="TodoComment">
            <property name="format" value="TODO(?! #\d+)"/>
            <property name="severity" value="warning"/>
        </module>

        <module name="CyclomaticComplexity">
            <property name="max" value="10"/>
            <property name="severity" value="warning"/>
        </module>
        <module name="ParameterNumber">
            <property name="max" value="7"/>
        </module>
        <module name="MethodLength">
            <property name="max" value="60"/>
            <property name="severity" value="warning"/>
        </module>

        <module name="ModifierOrder"/>
        <module name="RedundantModifier"/>

        <module name="EmptyCatchBlock">
            <property name="exceptionVariableName" value="ignored|expected"/>
        </module>

        <module name="MissingOverride"/>

        <module name="Indentation">
            <property name="basicOffset" value="4"/>
            <property name="braceAdjustment" value="0"/>
            <property name="caseIndent" value="4"/>
            <property name="throwsIndent" value="8"/>
            <property name="arrayInitIndent" value="4"/>
            <property name="lineWrappingIndentation" value="8"/>
        </module>

        <module name="MagicNumber">
            <property name="ignoreNumbers" value="-1, 0, 1, 2"/>
            <property name="severity" value="warning"/>
        </module>

    </module>

</module>